<h4 class="extension_show_sidebar_downloads">
  <i class="fa fa-download"></i> <span itemprop="interactionCount"><%= number_with_delimiter(version.try(:download_count) || 0) %></span> Downloads of Version <%= version.try(:version) %>
  <small><%= number_with_delimiter(extension.download_count) %> Total Downloads</small>
</h4>

<%= link_to "Download",
            "#",
            class: 'button primary radius expand button_download_extension',
            rel: 'download_asset_or_definition',
            'data-reveal-id': 'download_asset_or_definition' %>

<div id="download_asset_or_definition" class="reveal-modal small" data-reveal>
  <h1>Download</h1>
  <a class="close-reveal-modal close-reveal-modal-x">&#215;</a>

  <% if extension.hosted? %>
    <h3 class="download-choice">This asset is intended for enterprise license holders only.</h3>
    <% if version.release_assets.none?(&:viable?)%>
      <h3 class="download-choice">There are no asset definitions for this version.</h3>
    <% else %>
      <div id="download-asset-definition">
        <%= render partial: 'extension_versions/download_asset_definition',
                   locals: {extension: extension,
                            version:   version,
                            platform:  nil,
                            arch:      nil,
                            acknowledge: false} %>
      </div>
    <% end %>
    <div style="margin-top: 24px;" class="text-center">
      <a class="button secondary radius tiny close-reveal-modal">Cancel</a>
    </div>
  <% else %>
    <% if version.release_assets.none?(&:viable?)%>
      <h3 class="download-choice">There are no asset definitions for this version, only source code:</h3>
      <%= render partial: 'extensions/download_source', locals: {extension: extension} %>
      <a class="button secondary radius large close-reveal-modal">Cancel</a>
    <% else %>
      <h3 class="download-choice">Either download the source code:</h3>
      <%= render partial: 'extensions/download_source', locals: {extension: extension} %>
      <h3 class="download-choice">Or download the asset definition:</h3>

      <div id="download-asset-definition">
        <%= render partial: 'extension_versions/download_asset_definition',
                   locals: {extension: extension,
                            version:   version,
                            platform:  nil,
                            arch:      nil,
                            acknowledge: false} %>
      </div>

      <div style="margin-top: 24px;" class="text-center">
        <a class="button secondary radius tiny close-reveal-modal">Cancel</a>
      </div>
    <% end %>
  <% end %>
</div>
