<li itemscope itemtype="http://schema.org/Code">
  <div class="header">
    <div class="header-content">
      <div class="small-1 columns owner">
        <span class="meta">
          <%= link_to_gravatar(extension, {size: 36}) %>
        </span>
      </div>
      <div class="small-4 columns title">
        <%= link_to owner_scoped_extension_url(extension), rel: 'extension', itemprop: 'name' do %><%= extension.name_with_namespace %><% end %>
        <% unless extension.enabled? %>
          <i class="fa fa-times"></i>
          <small>Disabled</small>
        <% end %>
        <% if extension.privacy? %>
          <i class="fa fa-eye-slash"></i>
          <span>Private</span>
        <% end %>
      </div>

      <div class='small-1 columns title version'>
        <span><%= extension.latest_extension_version.try(:version) %></span>
      </div>

      <span class="small-4 columns title">
        <i class="fa fa-<%= extension.tier_icon_name %>"></i>
        <span><%= extension.tier_name %> tier</span>
      </span>
      <span class="small-2 columns title date-modified end">
        <span>Updated</span>
        <span itemprop="dateModified"><%= extension.updated_at.to_s(:longish) %></span>
      </span>

      <% if extension.parent_name.present? && extension.parent_owner_name.present? %>
        <span class="small-12 title">
          <%- parent_extension = extension.parent %>
          <i class="fa fa-code-branch"></i>
          <span>forked from</span>
          <% if parent_extension.present? %>
            <%= link_to "#{extension.parent_owner_name}/#{extension.parent_name}", owner_scoped_extension_url(parent_extension) %>
          <% else %>
            <span><%= link_to extension.parent_html_url, extension.parent_html_url, target: '_blank' %>; it does not yet have a Bonsai asset.</span>
          <% end %>
        </span>

      <% end %>

      <% if extension.deprecated? %>
        <span class="small-12 title">
          <%- replacement_extension = extension.replacement %>
          <i class="fa fa-exclamation-triangle"></i>
          <% if replacement_extension.present? %>
            <span>Deprecated in favor of:</span>
            <%= link_to "#{replacement_extension.owner_name}/#{replacement_extension.name}", owner_scoped_extension_url(replacement_extension) %>
          <% else %>
            <span>Deprecated</span>
          <% end %>
        </span>
      <% end %>


    </div>
  </div>
  <div class="body">
    <div class="body-content">
      <p itemprop="description">
        <span><%= extension.description %></span>
      </p>
    </div>
  </div>
  <div class="bottom">
    <div class="bottom-content">
      <ul class="extension_stats">
        <li>
          <span itemprop="interactionCount"><%= number_with_delimiter(extension.download_count) %></span>
          <h5>Total Downloads</h5>
        </li>
        <span id="<%= extension.lowercase_name %>-follow-button-list">
          <%= render 'extensions/follow_button_list', extension: extension %>
        </span>
      </ul>
    </div>
  </div>
</li>
