<% extensions.each do |extension| %>
  <div class="row featured-extension">
    <div class="small-2 columns">
      <%= link_to_gravatar(extension) %>
    </div>
    <div class="small-10 columns">
      <% if extension.privacy? %>
        <p class="small-12">
          <i class="fa fa-eye-slash"></i>
          <span>Private</span>
        </p>
      <% end %>
      <header>
        <%= link_to extension.name, owner_scoped_extension_url(extension) %>
        <div class="tier-declaration">
          <span><%= extension.latest_extension_version.try(:version) %></span>
          <i class="fa fa-<%= extension.tier_icon_name %>"></i>
          <span><%= extension.tier_name %> tier</span>
        </div>
      </header>
      
      <p class='truncate lines-3'><%= extension.description %></p>
      <p class="tags">
        <% extension.tags.each do |tag| %>
          <%= link_to tag.name, extensions_path(q: tag.name) %>
        <% end %>
      </p>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="small-10 small-offset-2 columns">
    <p><%= link_to "View All&hellip;".html_safe, extensions_path %></p>
  </div>
</div>
