<div class="main-header">
  <%= render 'extensions/compilation_errors', extension: extension, version: version %>

  <div id='extension-compilation-status' class='compilation-status-container'>
    <%= hidden_field_tag :no_reload %>
  </div>

  <% if extension.deprecated? %>
    <div class="deprecation-notice">
      <h2 class="deprecation-copy">
        <%- replacement_extension = extension.replacement %>
        <% if replacement_extension.present? %>
          <i class="fa fa-exclamation-triangle"></i> <%= extension.owner_name %>/<%= extension.name %> has been deprecated in favor of <%= link_to "#{replacement_extension.owner_name}/#{replacement_extension.name}", owner_scoped_extension_url(replacement_extension) %>
        <% else %>
          <i class="fa fa-exclamation-triangle"></i> <%= extension.name %> has been deprecated
        <% end %>
      </h2>
    </div>
  <% end %>

  <h1 class="heading">
    <span itemprop="name"><%= extension.owner_name %>/<%= extension.name %></span>

    <small class="version_dropdown">
      <% if extension_versions.count > 0 %>
        <%- if policy(extension).change_tier? %>
          <%= link_to '#', 'data-dropdown' => 'tiers', class: 'button radius tiny dropdown secondary', rel: 'extension_tiers' do %>
            <i class="fa fa-<%= @extension.try(:tier_icon_name) %>"></i>
            <span><%= extension.try(:tier_name) %> Tier</span>
          <% end %>
          <ul id="tiers" data-dropdown-content class="f-dropdown">
            <li>
              <ul style="list-style-type: none">
                <% Tier.rank(:rank).each do |tier| %>
                  <li>
                    <%= link_to extension_tier_path(extension, tier, username: extension.owner_name), method: :put, rel: 'extension_tier' do %>
                      <span><i class="fa fa-<%= tier.icon_name %>"></i> <%= tier.name %></span>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </li>
          </ul>
        <% else %>
          <% if (tier_id = extension.try(:tier_id)).present? %>
            <span class="tier <%= extension.tier_name.underscore.gsub(/\s+/, '-') %>">
              <i class="fa fa-<%= extension.try(:tier_icon_name) %>"></i>
              <%= link_to extensions_path('tiers[]' => tier_id ), data: {tooltip: true}, title: tier_description(extension.try(:tier_name)) do %>
                <span><%= extension.try(:tier_name) %> Tier</span>
              <% end %>
            </span>
          <% end %>
        <% end %>
        <%= link_to '#', 'data-dropdown' => 'versions', class: 'button radius tiny dropdown secondary', rel: 'extension_versions' do %>
          <span class="versions_count"><%= pluralize "(#{extension_versions.count})", 'Version' %></span>
          <span><%= version.try(:version) %></span>
        <% end %>
        <ul id="versions" data-dropdown-content class="f-dropdown">
          <li>
            <ul>
              <%- if extension.hosted? && policy(extension).add_hosted_extension_version? %>
                <li>
                  <%= link_to new_extension_version_path(extension, username: extension.owner_name), rel: 'add-version' do %>
                    <i class="fa fa-cloud-upload"></i>
                    <span>Add a version</span>
                  <% end %>
                </li>
              <%- end %>
              <% extension_versions.each do |extension_version| %>
                <li>
                  <%= link_to extension_version_path(extension, extension_version, username: extension.owner_name), rel: 'extension_version' do %>
                    <span><%= extension_version.version %></span>
                    <% if extension_version == version %>
                      <i class="fa fa-check right"></i>
                    <% end %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
      <% end %>
      <% if policy(extension).manage? || policy(extension).sync_repo? %>
        <%= render "extensions/manage_extension", extension: extension, version: version %>
      <% end %>
    </small>
  </h1>

  <% if extension.parent_name.present? && extension.parent_owner_name.present? %>
    <p class="small-12 title">
      <%- parent_extension = extension.parent %>
      <i class="fa fa-exclamation-triangle"></i>
      <span>Forked from:</span>
      <% if parent_extension.present? %>
        <%= link_to "#{extension.parent_owner_name}/#{extension.parent_name}", owner_scoped_extension_url(parent_extension) %>
      <% else %>
        <span><%= extension.parent_owner_name %>/<%= extension.parent_name %></span>
        <p>This asset is forked from an upstream project at <%= link_to extension.parent_html_url, extension.parent_html_url, target: '_blank' %> but does not yet have a Bonsai asset.  Please contact <%= extension.parent_owner_name %> and see if they need help getting assets listed here</p>
      <% end %>
    </p>
  <% end %>

  <p class="description" itemprop="description">
    v<%= version&.version || "—" %>
    ·
    <span>
      <% if extension.privacy? %>
        <span class="ext-private">
          <i class="fa fa-eye-slash"></i>
          private
        </span>
      <% else %>
        <span class="ext-public">
          public
        </span>
      <% end %>
    </span>
    ·
    Published <%= time_ago_in_words(version.updated_at) %> ago
  </p>

</div>
