<a href="#" data-dropdown="manage" class="button radius secondary tiny dropdown">Manage <%= t('nouns.extension').titleize %></a>

<ul class="manage_extension f-dropdown" id="manage" data-dropdown-content>
  <%- if extension.hosted? && policy(extension).add_hosted_extension_version? %>
    <li>
      <%= link_to new_extension_version_path(extension, username: extension.owner_name), rel: 'add-version' do %>
        <i class="fa fa-cloud-upload"></i>
        <span>Add a version</span>
      <% end %>
    </li>
  <%- end %>

  <%- if extension.hosted? && policy(extension).download_hosted_extension_version_source? && version.source_file.attached? %>
    <li>
      <%= link_to rails_blob_path(version.source_file, disposition: "attachment") do %>
        <i class="fa fa-file-code-o"></i>
        <span>Download source <%= version.version %></span>
      <% end %>
    </li>
  <%- end %>

  <%- if extension.hosted? && policy(extension).delete_hosted_extension_version? && extension.extension_versions.many? %>
    <li>
      <%= link_to delete_extension_version_path(extension, username: extension.owner_name, version: version),
                  method: :delete,
                  rel: 'delete-version',
                  data: {confirm: "Are you sure you want to delete version #{version.version}?"} do %>
        <i class="fa fa-trash-o"></i>
        <span>Delete version <%= version.version %></span>
      <% end %>
    </li>
  <%- end %>

  <% if policy(extension).transfer_ownership? %>
    <% if false %>
    <li>
      <%= link_to '#', rel: 'transfer_ownership', 'data-reveal-id' => 'transfer' do %>
        <i class="fa fa-random"></i>
        <span>Transfer Ownership</span>
      <% end %>
    </li>
    <% end %>

    <div id="transfer" class="reveal-modal small" data-reveal>
      <h1>Transfer Ownership</h1>
      <a class="close-reveal-modal close-reveal-modal-x">&#215;</a>

      <%= form_for extension, url: transfer_ownership_path(extension, username: extension.owner_name), method: :put do |f| %>
        <% if extension.transferrable_to_users.any? %>
          <p>You can transfer ownership of <%= t('indefinite_articles.extension') %> <%= t('nouns.extension') %> to any other user who is a Collaborator on that <%= t('nouns.extension') %> in Github.   Please select a new owner below.</p>

          <div class="row collapse">
            <div class="small-9 columns">
              <%= f.select :user_id, extension.transferrable_to_users.map { |u| [u.github_account.username, u.id] } %>
            </div>
            <div class="small-3 columns">
              <%= f.submit 'Transfer', class: 'button radius postfix' %>
            </div>
          </div>
        <% else %>
          <p>You can transfer ownership of <%= t('indefinite_articles.extension') %> <%= t('nouns.extension') %> to any other user who is a Collaborator on that <%= t('nouns.extension') %> in Github.  This repository has no other commit authors to whom you can transfer ownership.</p>
          <p class="text-right">
            <%= link_to "Okay", "#", class: "button primary close-reveal-modal" %>
          </p>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if policy(extension).deprecate? %>
    <li>
      <%= link_to '#', class: 'deprecate', rel: 'deprecate', 'data-reveal-id' => 'deprecate' do %>
        <i class="fa fa-archive"></i>
        Deprecate
      <% end %>
    </li>

    <div id="deprecate" class="reveal-modal small" data-reveal>
      <h1>Deprecate <%= t('nouns.extension').titleize %></h1>

      <p>You can deprecate your <%= t('nouns.extension') %> if you are no longer maintaining it. You must select a replacement <%= t('nouns.extension') %> in order to deprecate your <%= t('nouns.extension') %>.</p>

      <a class="close-reveal-modal">&#215;</a>

      <%= form_for extension, url: deprecate_extension_path(extension, username: extension.owner_name), method: :put do |f| %>
        <div class="row collapse">
          <div class="small-9 columns">
            <%= f.hidden_field :replacement, class: 'extension-deprecate', 'data-url' => deprecate_search_extension_path(extension, username: extension.owner_name) %>
          </div>
          <div class="small-3 columns">
            <%= f.submit 'Deprecate', class: 'button radius postfix submit-deprecation', disabled: true %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if policy(extension).undeprecate? %>
    <li>
      <%= link_to deprecate_extension_path(extension, username: extension.owner_name), method: 'delete', rel: 'undeprecate' do %>
          <i class="fa fa-archive"></i>
          Undo Deprecation
      <% end %>
    </li>
  <% end %>

  <% if policy(extension).toggle_featured? %>
    <% if false %>
    <li>
      <%= link_to toggle_featured_extension_path(extension, username: extension.owner_name), method: 'put', rel: 'toggle_featured' do %>
        <i class="fa fa-star"></i>
        <%= extension.featured? ? 'Unfeature' : 'Feature' %>
      <% end %>
    </li>
    <% end %>
  <% end %>

  <% if policy(extension).manage? %>
    <% if extension.privacy? %>
      <% confirmation = "Are you sure you want to make #{extension.name} #{t('nouns.extension')} public?" %>
      <% link = 'Set as Public' %>
      <% icon = 'fa-eye' %>
    <% else %>
      <% confirmation = "Are you sure you want to make #{extension.name} #{t('nouns.extension')} private?" %>
      <% link = 'Set as Private' %>
      <% icon = 'fa-eye-slash' %>
    <% end %>
    <li>
      <%= link_to privacy_extension_path(extension, username: extension.owner_name),
                  method: 'put',
                  data: {confirm: confirmation} do %>
        <i class="fa <%= icon %>"></i>
        <span><%= link %></span>
      <% end %>
    </li>
  <% end %>

  <% if policy(extension).select_default_version? %>
    <% if extension.selected_version.blank? %>
      <% title = '' %>
      <% message = "Selecting the default version will set the Bonsai Asset Index to use the selected
        version as as the default for this #{ t('nouns.extension') }." %>
      <% button = 'Select' %>
    <% else %>
      <% title = 'Release Default Version' %>
      <% message = "Releasing the default version will set the Bonsai Asset Index to use the latest version as as the default for this #{ t('nouns.extension') }." %>
      <% button = 'Release' %>
    <% end %>
    <li style='white-space: nowrap;'>
      <%= link_to '#', class: 'default-version', rel: 'default-version', 'data-reveal-id' => 'default-version' do %>
        <i class="fa fa-check-square-o"></i>
        <span>Select Default Version</span>
      <% end %>
    </li>

    <div id="default-version" class="reveal-modal small" data-reveal>
      <h1>Select Default Version</h1>
      <a class="close-reveal-modal">&#215;</a>

      <%= form_for extension, url: select_default_version_extension_path(extension, username: extension.owner_name), method: :put do |f| %>

        <p>Selecting the default version will set the Bonsai Asset Index to use the selected version as as the default for this <%= t('nouns.extension') %>. Selecting 'None' will set the Bonsai Asset Index to use the latest version as as the default.</p>

        <div class="small-offset-4 small-4 columns">
          <%= select_tag :extension_version_id, options_for_select( extension.sorted_extension_versions.map { |v| [v.version, v.id] }, extension.selected_version_id), {include_blank: 'none'} %>
        </div>

        <div style="margin-top: 24px;" class="small-12 columns text-center">
          <%= f.submit 'Select', class: "button primary radius tiny" %>
          <a class="button secondary radius tiny close-reveal-modal">Cancel</a>
        </div>
      <% end %>
    </div>

  <% end %>

  <% if policy(extension).edit_extension_config_overrides? %>

    <li style='white-space: nowrap;'>
      <%= link_to '#', class: 'default-version', rel: 'extension-config-overrides', 'data-reveal-id' => 'extension-config-overrides' do %>
        <i class="fa fa-check-square-o"></i>
        <span><%= t('nouns.extension').titleize %> Overrides</span>
      <% end %>
    </li>


    <div id="extension-config-overrides" class="reveal-modal" data-reveal>
      <h1><%= t('nouns.extension').titleize %> Overrides</h1>
      <a class="close-reveal-modal">&#215;</a>

      <%= form_for extension, url: update_config_overrides_extension_path(extension, username: extension.owner_name), method: :put, remote: true do |f| %>

        <div id='config-container'>
          <%= render 'extensions/config_overrides', extension: extension %>
        </div>
        <hr/>
        <h4>New Override</h4>
        <div id='config-new-container'>
          <%= render 'extensions/config_overrides_new' %>
        </div>

        <div style="margin-top: 24px;" class="small-12 columns text-center">
          <%= f.submit 'Set', class: "button primary radius tiny" %>
          <a class="button secondary radius tiny close-reveal-modal">Cancel</a>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if policy(extension).disable? %>
    <% if extension.enabled? %>
      <li>
        <%= link_to disable_extension_path(extension, username: extension.owner_name),
                    method: 'put',
                    rel: 'delete',
                    data: {confirm: "Are you sure you want to disable the #{extension.name} #{t('nouns.extension')}?"} do %>
          <i class="fa fa-times"></i>
          Disable <%= t('nouns.extension') %>
        <% end %>
      </li>
    <% else %>
      <li>
        <%= link_to enable_extension_path(extension, username: extension.owner_name), method: 'put', rel: 'enable' do %>
          <i class="fa fa-circle"></i> Enable
        <% end %>
      </li>
    <% end %>
  <% end %>

  <% if version.present? && policy(version).show_config? %>
    <li>
      <%= link_to '#', class: 'config', rel: 'config', 'data-reveal-id' => 'config' do %>
        <i class="fa fa-file-code-o"></i>
        Show configuration
      <% end %>
    </li>

    <div id="config" class="reveal-modal" data-reveal>
      <h1>Bonsai Configuration</h1>

      <p>The following data came from processing the Bonsai YAML configuration file in this version's source code.</p>

      <a class="close-reveal-modal">&#215;</a>

      <pre><%= version.config.to_yaml %></pre>
    </div>
  <% end %>

  <% if !extension.hosted? && policy(extension).sync_repo? %>
    <li>
      <%= link_to '#', class: 'recompile', rel: 'recompile', 'data-reveal-id' => 'recompile' do %>
        <i class="fa fa-coffee"></i>
        Recompile releases...
      <% end %>
    </li>

    <div id="recompile" class="reveal-modal small" data-reveal>
      <h1>Recompile Releases</h1>
      <a class="close-reveal-modal">&#215;</a>

      <p>Recompiling will update the Bonsai Asset Index with the latest information about GitHub releases and release assets for this <%= t('nouns.extension') %>.</p>

      <div style="margin-top: 24px;" class="text-center">
        <%= link_to "Recompile",
                    sync_repo_extension_path(extension, username: extension.owner_name),
                    method: :put,
                    class: "button primary radius tiny close-reveal-modal"
        %>
        <a class="button secondary radius tiny close-reveal-modal">Cancel</a>
      </div>
    </div>

    <% if false %>
      <% if policy(extension).disable? %>
        <% if extension.enabled? %>
          <li>
            <%= link_to disable_extension_path(extension, username: extension.owner_name),
                    method: 'put',
                    rel: 'delete',
                    data: {confirm: "Are you sure you want to delete the #{extension.name} #{t('nouns.extension')}?"} do %>
              <i class="fa fa-times"></i>
              Delete <%= t('nouns.extension') %>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to enable_extension_path(extension, username: extension.owner_name), method: 'put', rel: 'enable' do %>
              <i class="fa fa-circle"></i> Enable
            <% end %>
          </li>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

</ul>
