<div class="github-release-assets">
  <h4>
    <i class="fa fa-folder-open-o"></i> <span>Release Assets</span>
  </h4>

  <dl>
    <% version.release_assets.order(:platform, :arch).each do |release_asset| %>
      <dt class='assetPlatform'><%= release_asset.platform %> <%= release_asset.arch %></dt>
      <dd class="assetLink"><%= link_to release_asset.asset_url, release_asset.asset_url %></dd>
      <dd class="assetSha">SHA: <%= release_asset.source_asset_sha.presence || 'Unknown' %></dd>
      <dd class="assetLastModified">Last Modified: <%= l(release_asset.last_modified.to_date, format: :default) rescue '' %>
    <% end %>
  </dl>
</div>
