<div class="sidebar">
  <div class="section">
    <h4><i class="fa fa-cloud-download"></i>Install</h4>
    <div class="install-asset">
      <pre><span class="no-select">> </span>sensuctl asset add <%= extension.owner_name %>/<%= extension.name %></pre>
      <div class="pasteboard">
        <pre><i class="fa fa-clipboard"></i></pre>
      </div>
    </div>
  </div>

  <% if version.present? && version.annotation('suggested_asset_url').present? %>
    <div class="content">
      <h4><i class="fa fa-exclaimation"></i>Note</h4>
      <p><%= link_to_suggested_asset(version) %></p>
    </div>
  <% end %>

  <div class="content">
    <h4><i class="fa fa-key"></i>License</h4>
    <p><span itemprop="license"><%= extension.license_name.present? ? extension.license_name : "Unknown" %><span></p>
  </div>

  <div class="content">
    <h4><i class="fa fa-clock-o"></i>Last publish</h4>
    <p>
      <span itemprop="datePublished"><%= (version.try(:updated_at) || extension.updated_at).to_s(:longish) %></span>
    </p>
  </div>

  <div class="content">
    <h4>
      <i class="fa fa-tags"></i>Tags
      <% if policy(extension).manage? %>
        <a href="#" class="toggle-tags-edit">edit</a>
        <a href="#" class="toggle-tags-edit toggle-tags-hidden">cancel</a>
      <% end %>
    </h4>
    <p class="toggle-tags-edit">
      <% extension.tags.each do |tag| %>
        <%= link_to(tag.name, controller: "extensions", action: "index", q: tag.name) %>
      <% end %>
    </p>
  </div>

  <% if extension.github_url.present? %>
    <div class="content">
      <h4><i class="fa fa-link"></i>Repository</h4>
      <p>
        <%= link_to extension.github_url, extension.github_url, itemprop: 'codeRepository', target: "_blank", class: 'secondary' %>
      </p>
    </div>
  <% end %>

  <div class="toggle-tags-edit toggle-tags-hidden">
    <%= form_for @extension, url: extension_path(@extension, username: @extension.owner_name) do |f| %>
      <div class="tag_tokens-field">
        <%= f.text_field :tag_tokens, placeholder: "Tags", title: "Tags", class: "tokenfield", data: { autofill: Tag::DEFAULT_TAGS } %>
      </div>
      <%= submit_tag "Save", class: "button primary small" %>
    <% end %>
  </div>

  <div class="toggle-details-edit toggle-details-hidden">
    <%= form_for @extension, url: extension_path(@extension, username: @extension.owner_name) do |f| %>
      <div class="edit-field">
        <%= f.text_field :name, placeholder: "Name" %>
      </div>
      <div class="edit-field">
        <%= f.text_field :description, placeholder: "description" %>
      </div>
      <div class="edit-field">
        <%= submit_tag "Save", class: "button primary small" %>
      </div>
    <% end %>
  </div>

  <div class="content">
    <h4>
      <i class="fa fa-user-crown"></i>Owner
    </h4>
    <%= render 'resources/owner', resource: extension %>
  </div>

  <div class="content">
    <h4>
      <i class="fa fa-users"></i>Collaborators
    </h4>
    <%= render 'resources/collaborators', collaborators: collaborators, resource: extension %>
  </div>

  <h4>
    <i class="fa fa-wrench"></i>Actions
  </h4>

  <% reveal_id = signed_in? ? 'report-extension' : 'report-extension-sign-in' %>
  <ul>
    <li><%= link_to "Flag #{t('nouns.extension').titleize}", "#", data: { :"reveal-id" => reveal_id } %></li>
    <% if extension.up_for_adoption? %>
      <li><%= link_to 'Adopt me!', adoption_extension_path(extension, username: extension.owner_name), method: :post, class: 'secondary' %></li>
    <% end %>
    <% if signed_in? %>
      <li rel="extension-support">
        <% if @extension.tier_name == 'Enterprise' %>
          <a href="https://account.sensu.io" target='_blank'>Report an Issue</a>
        <% else %>
          <% if version.blank? || version.annotation('report_issues_url').blank? %>
            <% url = "https://github.com/sensu/bonsai-asset-index/issues" %>
          <% else %>
            <% url = version.annotation('report_issues_url') || "https://github.com/sensu/bonsai-asset-index/issues" %>
          <% end %>
          <a href='<%= url %>' target='_blank'>Report an Issue</a>
        <% end %>
      </li>
    <% end %>
    <% if policy(extension).manage? %>
      <li rel="edit-extension-urls">
        <a href="#" class="toggle-details-edit">Edit details</a>
        <a href="#" class="toggle-details-edit toggle-details-hidden">cancel</a>
      </li>
    <% end %>
  </ul>
</div>

<div class="extension-details">
  <%= render 'extensions/download', extension: extension, version: version %>
</div>

<% content_for :script do %>
  <script>
    var installEl = $(".install-asset");
    var tooltipLib = Foundation.libs.tooltip;

    /* Only enable on broswers with support for the clipboard. */
    if (!!navigator.clipboard) {
      installEl.addClass("is-copyable");
    }

    installEl.click(ev => {
      if (!navigator.clipboard) {
        return;
      }

      // Write to clipboard
      navigator.clipboard.writeText('sensuctl asset add <%= extension.owner_name %>/<%= extension.name %>');

      // Give user feedback
      if (tooltipLib.getTip(installEl).size() > 0) {
        return ;
      }
      installEl.attr("title", "Copied to clipboard")
      tooltipLib.create(installEl);
      tooltipLib.show(installEl);
      setTimeout(() => {
        tooltipLib.hide(installEl);
        tooltipLib.off(installEl);
      }, 2500);
    });

  </script>
<% end %>

<% if version.present? && version.extension.present? %>
  <% content_for :script do %>
    <script>

      $("#collections-select").select2();

      $("#collections-select").on('select2:select', function (e) {
        const collection_id = e.params.data.id;
        update_collection(collection_id, 'add')
      });

      $("#collections-select").on('select2:unselect', function (e) {
        const collection_id = e.params.data.id;
        update_collection(collection_id, 'remove')
      });

      function update_collection(collection_id, update) {
        $.ajax({
          url: '<%= update_collection_extension_path(id: version.extension.lowercase_name, username: version.extension.owner_name) %>',
          type: 'PUT',
          data: {
            update: update,
            collection_id: collection_id,
          },
        });
      };

    </script>
  <% end %>
<% end %>
