<%= provide(:title, "#{t('nouns.extension').pluralize.titleize} Directory") %>
<%= provide(:description, "Browse and search Sensu #{t('nouns.extension').pluralize}. Learn how to use and create #{t('nouns.extension').pluralize} for configuring your infrastructure.") %>
<%= provide(:cta) do %>
  <span>Welcome to Bonsai, the Sensu asset index.<br/> Discover and <%= link_to "share", new_extension_path %> assets for all your monitoring needs.</span>
<% end %>

<div class="page">
  <div class="extensions-features bottom-space standard-typography">

    <div class="medium-12 columns">
      <header>Tags</header>
      <div class='categories-container'>
        <ul>
          <% @top_tags.each do |t| %>
            <li><%= link_to t.name.titlecase, extensions_path(q: t.name) %></li>
          <% end %>
        </ul>
      </div>

      <br/>

      <% if @top_collections.present? %>
        <header>Collections</header>
        <div class='categories-container'>
          <ul>
            <% @top_collections.each do |collection| %>
              <li><%= link_to collection.title, extensions_collections_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="medium-12 columns share-cta-container">
      <div class="share-cta-logo-container">
        <%= image_tag 'logo-icon-sensu.svg', class: 'logoIcon filter-primary-blue share-cta-logo' %>
      </div>
      <header>Most downloaded</header>
      
      <div class="featured-extension">
        <%= render "featured", extensions: @most_downloaded_extensions %>
      </div>

      <div class="row">
        <div class="small-12 columns view_all">
          <p><%= link_to "View All&hellip;".html_safe, extensions_path %></p>
        </div>
      </div>
    </div>

    <div class="medium-12 columns share-cta-container">
      <div class="share-cta-logo-container">
        <%= image_tag 'logo-icon-sensu.svg', class: 'logoIcon filter-primary-blue share-cta-logo' %>
      </div>
      <header>Recently updated</header>
      <%= render "featured", extensions: @recently_updated_extensions %>
    </div>

      </div>

  <div class="share-cta standard-typography">
    <div class="medium-12 columns learn_about_assets">
      <div class="small-3 columns">
        <%= image_tag 'bonsai-tree.svg', class: 'filter-primary-blue' %>
      </div>
      <div class="small-9 columns share-cta-header end">
        <h3>Learn about Sensu assets</h3>

        <h4>What is an asset?</h4>
        <p>Assets are shareable, reusable packages that make it easy to deploy Sensu plugins. You can use assets to provide the plugins, libraries, and runtimes you need to automate your monitoring workflows. Log in with your GitHub account to <a href="https://bonsai.sensu.io/new" rel="nofollow">share your assets</a> on Bonsai.</p>
      </div>
      <div class="small-12 columns">


        <h4>Tiers</h4>
        <ul>
          <li><a href="https://bonsai.sensu.io/assets?tiers%5B%5D=1" rel="nofollow">Community</a> - Open-source assets shared by the Sensu Community. Collaborate, share, and star your favorites with Bonsai.</li>
          <li><a href="https://bonsai.sensu.io/assets?tiers%5B%5D=2" rel="nofollow">Supported</a> - Open-source assets supported by Sensu Inc., including supported <a href="https://bonsai.sensu.io/assets/sensu/sensu-slack-handler" rel="nofollow">Slack</a>, <a href="https://bonsai.sensu.io/assets/sensu/sensu-pagerduty-handler" rel="nofollow">PagerDuty</a>, and <a href="https://bonsai.sensu.io/assets/sensu/sensu-influxdb-handler" rel="nofollow">InfluxDB</a> handlers.</li>
          <li><a href="https://bonsai.sensu.io/assets?tiers%5B%5D=4" rel="nofollow">Enterprise</a> - Hosted assets unlocked with a Sensu enterprise license. See the <a href="https://docs.sensu.io/sensu-go/latest/getting-started/enterprise" rel="nofollow">Sensu docs</a> for more information about managing your Sensu license.</li>
        </ul>
        <h4>Resources</h4>
        <ul>
          <li><a href="https://docs.sensu.io/sensu-go/latest/guides/install-check-executables-with-assets" rel="nofollow">Deploying Sensu plugins with Bonsai</a></li>
          <li><a href="https://docs.sensu.io/sensu-go/latest/reference/assets#sharing-an-asset-on-bonsai" rel="nofollow">Sharing an asset on Bonsai</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


          
