<%= provide(:title, "#{@extension.name} #{t('nouns.extension').titleize}") %>


<%= provide(:description, "#{@extension.name} #{t('nouns.extension').titleize} (#{@default_version.try(:version)}) #{@extension.try(:supported_platforms).map(&:name).join(', ')}".strip) %>

<div class="page resource extension_show" data-equalizer itemscope itemtype="http://schema.org/Code">

  <div id='main-header-container'>
    <%= render 'extensions/main_header', extension: @extension, version: @default_version, extension_versions: @extension_versions %>
  </div>

  <div id='main-container'>
    <%= render 'extensions/main', extension: @extension, version: @default_version, extension_versions: @extension_versions %>
  </div>

  <%= render 'extensions/sidebar', extension: @extension, version: @default_version, supported_platforms: @supported_platforms, collaborators: @collaborators %>

</div>

<% unless @extension.compilation_error.present? || (@default_version && extension_version_analyzed?(@default_version)) %>
  <div class="page nobg">
    <p class="text-center">
      <%= image_tag "spinner.gif" %>
      Scanning your <%= t('nouns.extension') %>...

    </p>
  </div>

  <script type="text/javascript">
    //setTimeout(function() { window.location.reload(1); }, 15000);
  </script>
<% end %>


<% content_for :script do %>

  <script>

    var max_retries = 20;
    var retries = 0;

    var getExtensionStatus = () => {
      $.ajax({
        url: '<%= sync_status_extension_path(id: @extension.id) %>',
        method: 'GET',
        dataType: 'script',
      });
    }

    var queryGetExtensionStatus = () => {
      if (retries < max_retries) {
        setTimeout(getExtensionStatus, 10000);
      } else {
        //$("#loading-extensions").remove();
        //$("#loading-extensions-failed").show();
        clearTimeout(getExtensionStatus);
      }
      retries += 1
    }

    var resetMaxRetries = (n) => {
      max_retries = n
    }

    $(document).ajaxComplete( () => {
      queryGetExtensionStatus();
    });

    getExtensionStatus();
  
  </script>

<% end %>