<%= provide :title, 'Welcome - The resource for Bonsai assets' %>
<%= provide :description, "Asset Index is Bonsia's open-source community platform. Find, explore and view Bonsai assets for all of your ops needs." %>

<div class="page withspace">
  <% if flash[:signout] %>
    <div class="signout-message">
      <p>You have been signed out of the Bonsai Asset Index.</p>
    </div>
  <% end %>

  <section class="sign_up_in">
    <h2 class="text-center">Welcome to the Bonsai Asset Index. Find, explore and view Bonsai <%= t('nouns.extension').pluralize %> for all of your ops needs.</h2>
  </section>

  <section class="welcome_resources">
    <div>
      <h2>Explore</h2>

      <ul>
        <li>
          <%= link_to "Browse #{t('nouns.extension').pluralize.titleize}", extensions_path %>
        </li>
      </ul>
    </div>
  </section>

  <section class="extensions_stats">
    <h2>Community Stats</h2>
    <%= render 'resources/community_stats', extension_count: @extension_count, user_count: @user_count %>
  </section>
</div>
