<div class="owner_avatar">
  <% if resource.github_organization %>
    <%= gravatar_for resource.github_organization, size: 48 %>
    <span itemprop="author"><%= resource.github_organization.name %></span>
  <% else %>
    <%= link_to resource.owner do %>
      <%= gravatar_for resource.owner, size: 48 %>
      <span itemprop="author"><%= resource.maintainer %></span>
      <small><%= resource.owner.name %></small>
    <% end %>
  <% end %>
</div>
