<%= form_tag @search[:path], class: 'search_form', method: :get do %>
  <%= hidden_field_tag :order, params[:order] if params[:order].present? %>
  <%= hidden_field_tag :supported_platform_id, params[:supported_platform_id] %>
  <div class="search_bar">
    <div class="quick_search">
      <div class="search_field">
        <%= search_field_tag :q, params[:q], placeholder: 'Search assets, tags, authors…', class: 'extension_search_textfield' %>
      </div>

      <div class="search_button">
        <%= button_tag 'Search', type: 'submit', class: 'extension_search_button', name: nil %>
      </div>

      <% if advanced_options_available? %>
        <div class="advanced_search_toggle">
          <span>Advanced Options <i class="fa fa-chevron-down" id="toggle-arrow"></i></span>
        </div>
      <% end %>
    </div>
  </div>

  <div class="advanced_search_body">
    <% if supported_platforms.any? %>
      <h4> Select Supported Platforms </h4>
      <div class = "advanced_search_platforms" >
        <% supported_platforms.each do |platform| %>
          <div class="advanced_search_platform">
            <label>
              <%= check_box_tag 'platforms[]', platform, params[:platforms] ? params[:platforms].include?(platform) : false %>
              <span><%= platform %></span>
            </label>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if supported_architectures.any? %>
      <h4> Select Supported Architectures </h4>
      <div class = "advanced_search_architectures" >
        <% supported_architectures.each do |arch| %>
          <div class="advanced_search_architecture">
            <label>
              <%= check_box_tag 'archs[]', arch, params[:archs] ? params[:archs].include?(arch) : false %>
              <%= arch %>
            </label>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if supported_tiers.any? %>
      <h4> Select Tier </h4>
      <div class = "advanced_search_architectures" >
        <% supported_tiers.each do |tier| %>
          <div class="advanced_search_architecture">
            <label>
              <%= check_box_tag 'tiers[]', tier.id, params[:tiers] ? params[:tiers].include?(tier) : false %>
              <%= tier.name %>
            </label>
          </div>
        <% end %>
      </div>
    <% end %>

    <h4> Github Name </h4>
    <div class = "advanced_search_user_name">
      <label>Name like: </label><%= text_field_tag 'owner_name' %>
    </div>
    
  </div>
<% end %>
